version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@3.1.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      # Authenticate to GCP
      - gcp-cli/setup:
          service-account-key: GCLOUD_SERVICE_KEY
          project-id: GCP_PROJECT_ID
          region: GCP_REGION

      # Build & push Docker image
      - run:
          name: Build and Push Image
          command: |
            docker build -t $IMAGE_URI .
            docker push $IMAGE_URI

      # Deploy to Cloud Run
      - run:
          name: Deploy to Cloud Run
          command: |
            gcloud run deploy nginx-poc \
              --image $IMAGE_URI \
              --region $GCP_REGION \
              --platform managed \
              --port 80 \
              --allow-unauthenticated

workflows:
  deploy:
    jobs:
      - deploy
