version: 2.1

orbs:
  gcp-cli: circleci/gcp-cli@3.1.1

jobs:
  deploy:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout

      - gcp-cli/setup:
          service-account-key: GCLOUD_SERVICE_KEY
          project-id: GCP_PROJECT_ID
          region: GCP_REGION

      - run:
          command: |
            docker build -t $IMAGE_URI .
            docker push $IMAGE_URI

      - gcp-cli/run/deploy:
          service-name: nginx-poc
          image: $IMAGE_URI
          region: GCP_REGION
          port: 80
          allow-unauthenticated: true

workflows:
  deploy:
    jobs:
      - deploy
